<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Feed.UI.MVCApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Feed.UI.MVCApp.Properties.Settings>
      <setting name="Prepositions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>a</string>
            <string>ante</string>
            <string>após</string>
            <string>até</string>
            <string>com</string>
            <string>contra</string>
            <string>de</string>
            <string>desde</string>
            <string>em</string>
            <string>entre</string>
            <string>para</string>
            <string>perante</string>
            <string>por</string>
            <string>sem</string>
            <string>sob</string>
            <string>sobre</string>
            <string>trás</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Articles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>o</string>
            <string>os</string>
            <string>a</string>
            <string>as</string>
            <string>um</string>
            <string>uns</string>
            <string>uma</string>
            <string>umas</string>
            <string>ao</string>
            <string>aos</string>
            <string>à</string>
            <string>às</string>
            <string>do</string>
            <string>dos</string>
            <string>da</string>
            <string>das</string>
            <string>dum</string>
            <string>duns</string>
            <string>duma</string>
            <string>dumas</string>
            <string>no</string>
            <string>nos</string>
            <string>na</string>
            <string>nas</string>
            <string>num</string>
            <string>nuns</string>
            <string>numa</string>
            <string>numas</string>
            <string>pelo</string>
            <string>pelos</string>
            <string>pela</string>
            <string>pelas</string>
          </ArrayOfString>
        </value>
      </setting>
    </Feed.UI.MVCApp.Properties.Settings>
  </applicationSettings>
</configuration>